@import '../../../../variables.scss';

.coming{
    background: var(--main-color);
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .title{
        font-size: 3rem;
    }

    h3{
        font-size: 5rem;
    }
}