@import '../variables.scss';

button{
    right: 10vw;
    border: none;
    outline: none;
    background: transparent;
    color: var(--text-color);
    cursor: pointer;

    &:hover{
        color: var(--secondary-color);
    }
}