@import '../../app.scss';
@import '../../variables.scss';

.works {
    height: 100vh;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .wrapper {
        width: 1400px;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // background: goldenrod;

        .left {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            // background: red;

            ul {
                display: flex;
                gap: 100px;
                // background: red;

                li {
                    font-size: 2rem;
                    font-weight: bold;
                    background: transparent;
                    border: 1px solid var(--secondary-color);
                    border-radius: 1px;
                    padding: 7px;
                    position: relative;
                    cursor: pointer;
                    transition: all 1s ease;

                    &::after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        color: var(--secondary-color);
                        width: 0;
                        overflow: hidden;
                        white-space: nowrap;
                    }

                    &:hover {
                        background: var(--text-color);
                        border: 1px solid var(--secondary-color);

                        &::after {
                            padding: 7px;
                            animation: moveText .5s linear both;

                            @keyframes moveText {
                                to {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .right {
            flex: 5;
            // background: cyan;
        }
    }

    @include mobile {
        .wrapper {
            width: 100%;
            flex-direction: column;

            .left {
                padding: 20px;

                li {
                    font-size: 24px;
                    color: #fff;
                    -webkit-text-stroke: 0;
                }
            }
        }
    }
}